<div class="kakao-login-button-container">
  <a href="#"
    ><img
      src="https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_narrow.png"
  /></a>
</div>

<script>
  function openPopup(url) {
    // 팝업 창의 크기 및 위치 설정
    var popupWidth = 600;
    var popupHeight = 600;
    var left = (window.innerWidth - popupWidth) / 2;
    var top = (window.innerHeight - popupHeight) / 2;
    // 크기가 설정된 팝업 창을 열기
    var popupWindow = window.open(
      url,
      "_blank",
      "width=" + popupWidth + ", height=" + popupHeight + ", left=" + left + ", top=" + top
    );
    // 로그인 완료 후 팝업이 닫혔을 때 발생할 이벤트 정의
    popupWindow.addEventListener("beforeunload", function () {
      // 여기에 원하는 로직 정의
    });
    // 팝업 창이 차단되었을 때의 브라우저 alert
    if (
      !popupWindow ||
      popupWindow.closed ||
      typeof popupWindow.closed == "undefined"
    ) {
      alert("팝업이 차단되었습니다. 팝업을 허용해주세요.");
    }
  }

  function makeClickEvent(dom,url) {
    // DOM에 click 이벤트 생성
    dom.addEventListener("click", async () => {
      openPopup(url);
    });
  }

  // kakao 로그인 버튼으로 사용할 a태그의 DOM객체
  const kakaoButton = document.querySelector(".kakao-login-button-container a");
  // kakao authorization url
  const kakaoAuthUrl = "{{kakao_login_url|safe}}";
  // 이벤트 추가
  makeClickEvent(kakaoButton, kakaoAuthUrl);
</script>
